/* NOTA GLOBAL: Se está usando Mobile First */


/*Reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: revert;
}

/*Estilizar el título de cada página*/
header h1 {
    text-align: center;
    margin: 20px;
}

/*Estilizar la barra de navegación*/
nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

footer {
    text-align: center;
    margin: 20px;
}

footer a{
    margin: 0 10px;
}

/*Estilizar el mensaje de bienvenida*/
.mensaje-bienvenida {
    text-align: center;
    font-size: large;
    margin: 40px 0;
}

/* Se define la tabla como una columna con las filas que sean necesarias */
.categorias {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 0 20px;
}

/*Para que las imágenes no superen a sus contenedores*/
.categorias img {
    display: block;
    width: 100%;
}

.categorias h2{
    margin: 10px 0;
}

/*Colocar cada página con la imagen arriba y la descripción abajo*/

.pagina-arma {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px;
    align-items: flex-start;
}

.arma-imagen{
    width: 100%;
}

/**/

h2{
    margin-bottom: 10px;
}

h3{
    margin: 10px 0;
}

.pagina-sobre-nosotros{
    margin: 20px;
}

@media (min-width: 1024px) {

    /*La barra de navegación se vuelve horizontal*/
    nav ul{
        flex-direction: row;
    }

    /*Una tabla de cuatro columnas*/
    .categorias{
        grid-template-columns: repeat(4, 1fr);
    }

    /*La página de información de cada arma se vuelve horizontal*/
    .pagina-arma{
        flex-direction: row;
    }

    .arma-imagen {
        width: 300px;
    }
}